<table>
  <tr>
    <p><%= @job_info.title %></p>
    <td><%= link_to "Edit", edit_job_info_path(@job_info) %></td>
    <td><%= link_to "Delete", job_info_path(@job_info),
      method: :delete %></td>
  </tr>
</table>

<p><%= link_to 'Home', job_infos_path %></p>
